<div class="p-3 m-0 border-0 bd-example">
  <div class="row">
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Moniters.jpg" alt="Grosery Image" width="200" height="200"><br>
       <div class="mt-1">
        <span class="text-success">Just ₹ 10000</span><br>
        <span  style="font-weight:bold">Moniters</span>
      </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Mobiles.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
          <span class="text-success">Just ₹ 1000</span><br>
          <span  style="font-weight:bold">Mobiles</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Covers.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 5000</span><br>
        <span  style="font-weight:bold">Covers</span>
      </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Tires.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 2000</span><br>
        <span  style="font-weight:bold">Tires</span>
      </div>
      </a>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Moniters.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 10000</span><br>
        <span  style="font-weight:bold">Moniters</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Mobiles.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
          <span class="text-success">Just ₹ 1000</span><br>
          <span  style="font-weight:bold">Mobiles</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Covers.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 5000</span><br>
        <span  style="font-weight:bold">Covers</span>
      </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Tires.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 2000</span><br>
        <span  style="font-weight:bold">Tires</span>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Moniters.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 10000</span><br>
        <span  style="font-weight:bold">Moniters</span>
      </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Mobiles.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
          <span class="text-success">Just ₹ 1000</span><br>
          <span  style="font-weight:bold">Mobiles</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img class="zoom"style="margin-left: 10px;" src="../../../assets/Images/Card/Covers.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 5000</span><br>
        <span  style="font-weight:bold">Covers</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" >
        <img style="margin-left: 10px;" src="../../../assets/Images/Card/Tires.jpg" alt="Grosery Image" width="200" height="200"><br>
        <div class="mt-1">
        <span class="text-success">Just ₹ 2000</span><br>
        <span  style="font-weight:bold">Tires</span>
        </div>
      </a>
    </div>
  </div>
</div>
