<div class="p-3 m-0 border-0 bd-example">
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img src="../../../assets/Images/Category/grosery.png" alt="Grosery Image" width="50" height="50"><br>
      <span class="cat-font" style="font-weight:bold">Grosery</span>
    </a>

  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img src="../../../assets/Images/Category/mobile.jpg" alt="Grosery Image" width="50" height="50"><br>
      <span  style="font-weight:bold">Mobiles</span>
    </a>

  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img src="../../../assets/Images/Category/fashion.jpg" alt="Grosery Image" width="50" height="50"><br>
      <span  style="font-weight:bold">Fashion</span>
    </a>
  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img style="margin-left: 10px;" src="../../../assets/Images/Category/electranic.jpg" alt="Grosery Image" width="50" height="50"><br>
      <span  style="font-weight:bold">Electronics</span>
    </a>
    <!-- <span  style="font-weight:bold">Electronics</span> -->
  </div>
  <div class="col-md-1">
    <img src="../../../assets/Images/Category/grosery.png" alt="Grosery Image" width="50" height="50"><br>
    <span  style="font-weight:bold">House</span>
  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img style="margin-left: 10px;" src="../../../assets/Images/Category/Application.jpg" alt="Grosery Image" width="50" height="50"><br>
    <span  style="font-weight:bold">Appliance</span>
    </a>
  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img src="../../../assets/Images/Category/grosery.png" alt="Grosery Image" width="50" height="50"><br>
      <span  style="font-weight:bold">Grosery</span>
    </a>

  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img src="../../../assets/Images/Category/Travel.jpg" alt="Grosery Image" width="50" height="50"><br>
      <span  style="font-weight:bold">Travel</span>
    </a>
  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img  src="../../../assets/Images/Category/Toy.jpg" alt="Grosery Image" width="50" height="50"><br>
    <span  style="font-weight:bold;margin-right:10px">Toy</span>
    </a>

  </div>
  <div class="col-md-1">
    <a [routerLink]="['/user/mobile']" style="text-decoration: none; color:black" [queryParams]="{debug: true}" fragment="electronics">
      <img src="../../../assets/Images/Category/Beauty.jpg" alt="Grosery Image" width="50" height="50"><br>
    <span  style="font-weight:bold">Beauty</span>
    </a>
  </div>
  <div class="col-md-1">
  </div>
</div>
</div>
